*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section{
position: relative;
width: 100%;
min-height: 100vh;
padding: 100px;
display: flex;
justify-content: space-between;
align-items:center;
background: #e7223a;
transition: 0,5s;
}

header{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

header.logo{
    position: relative;
    max-width: 80px;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    list-style: none;
}

header ul li a{
    display: inline-block;
    margin-left: 40px;
    color: white;
    font-weight: 400;
    text-decoration:none;
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .text{
    position: relative;
    max-width: 600px;
}

.content .text h2{
    color: white;
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
}

.content .text h2 span{
    font-size: 2em;
}

.content .text p{
    color: white;
}

.content .text a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: white;
    border-radius: 40px;
    color: black;
    text-decoration:none;
    text-transform: uppercase;
}

.content .images{
    width: 600px;
    display: flex;
    padding-right: 50px;
    justify-content: flex-end;
    margin-top: 50px;
}

.content .images img{
    max-width: 260px;
}

.thumbnail{
position: absolute;
left: 50%;
bottom: 20px;
transform: translateX(-50%);
display: flex;
}

.thumbnail li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumbnail li:hover{
    transform: translateY(-15px);
}

.thumbnail li img{
    max-width: 40px;
}

.socialMedia{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.socialMedia li{
    list-style:none;
}

.socialMedia li a{
    display: inline-block;
    filter: invert(1);
    margin: 5px 0px;
    transform: scale(0.6);
}

@media (max-width:991px){
    section{
        padding:40px;
        padding-bottom: 140px;
    }

    header{
        padding: 20px 40px;
    }
    header .logo{
        position: relative;
        max-width: 60px;
    }
    header ul{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        z-index: 1;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        transition: 0.2s;
        visibility: hidden;
        opacity: 0;
    }

    header ul li a{
        display: inline-block;
        color: black;
        font-weight: 400;
        margin-left: 0;
        text-decoration: none;
        font-size: 2em;
        margin: 10px 0;
    }

    header ul a:hover{
        color: #ed0223;
    }

    .toggleMenu{
        display: visible;
    }
}

    .toggleMenu{
        position:relative;
        width: 40px;
        height: 40px;

        background: url(./assets/menu.png);
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
        z-index:2;
        cursor:pointer;
        display:none;
    }

    .toggleMenu.active{
        background: url(./assets/close.png);
        background-position:center;
        background-size: 25px;
        background-repeat:no-repeat;
        filter:invert(1);
    }

    .content{
        flex-direction:column;
        margin-top:80px;
    }

    .content .text{
        position: relative;
        max-width: 100%;
        padding-right: 20px;
    }

.content .text h2{
    font-size: 3em;
}

.content .text a{
    font-size: 14px;
    padding: 8px 15px;
}

.content .images{
    width: 100%;
    display:flex;
    padding-right:0;
    margin-top:50px;
    justify-content:center;
}

.content .images img{
    max-width: 200px;
}

.thumbnail li img{
    max-width: 30px;
}

.socialMedia{
    position: absolute;
    top: 50%;
    right: 0;
    width: 50px;
    background: #00000033;
    transform: translateY(-50%);
    display:flex;
    justify-content:center;
    align-items:center;
}

.text{
    color: #aaa5a5;
}
